body,
html {
  font-family: "Montserrat", sans-serif;
}

.image-spacing {
  height: 195px;
  width: 320px;
  background-color: white;
}

.image-spacing img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.title-card {
  margin: 0;
  display: flex;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
  word-wrap: break-word;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 14px 80px 5px 0px;
}

.tags li {
  float: left;
}

.tag {
  background: #7ca982;
  border-radius: 3px 0 0 3px;
  color: #eee;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 6px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  display: block;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #7ca982;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #243e36;
  color: white;
}

.tag:hover::after {
  border-left-color: #243e36;
}

.padding-between-cards {
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.padding-between-cards:hover {
  box-shadow: 5px 5px 30px 11px rgba(0, 0, 0, 0.26);
}
/* .card {
  padding: 30px;
  max-width: 320px;
  width: 100%;
  display: block;
  margin: 0px;
  word-wrap: break-word;
} */

.card-body {
  background-color: #fff;
  max-width: 320px;
  width: 320px;
  word-wrap: break-word;
}

.date-event {
  font-size: 15px;
  font-weight: 600;
  color: grey;
}

.location-event {
  font-size: 15px;
  font-weight: 600;
  color: grey;
  float: right;
}
.upcoming-past {
  border-style: solid;
  width: 40%;
  text-align: center;
  float: right;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
  text-decoration: none;
}
