.card-style {
  padding: 100px;
  z-index: 1;
  position: relative;
}

.site-background {
  background-color: #F1F7ED;
  height: 1000px;
}

.blob2 {
  position: fixed;
  top: 10px;
  left: -80px;
  height: 900px;
  z-index: 0
}

.blob4 {
  position: fixed;
  top: 50px;
  right:-200px;
  height: 400px;
  z-index: 0
}

.blob5 {
  position: fixed;
  top: 400px;
  left: 300px;
  height: 500px;
  z-index: 0
}
