body {
  padding-top: 60px;
}

.event-type {
  flex-flow: row wrap;
}

.wrapping-browsing {
  padding-top: 8px;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}
.upcoming-past-sectioning {
  background: linear-gradient(to bottom, white 9%, #f1f7ed 0%);
}

.header {
  padding: 20px 50px 40px 80px;
}
.title-browse {
  font-size: 40px;
  font-weight: bold;
  /* position: absolute; */
  margin: 20px 0px 0px 0px;
}

#available-events {
  font-size: 22px;
  font-weight: normal;
  font-style: italic;
}

.subtitles {
  padding: 0px 0px 0px 70px;
  font-size: 25px;
  font-weight: bold;
  color: #243e36;
}

.entire-screen {
  display: flex;
  flex-direction: column;
}
