.profile-wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f1f7ed;
}

.nav-bar {
  width: 100%;
  background-color: rgb(36, 62, 54);
}

.eventpage-content {
  display: flex;
  flex-direction: row;
  background-color: #f1f7ed;
}

.profile-personal {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.name-wrap {
  margin-top: 10%;
  margin-left: 20%;
  overflow: hidden;
}

.name {
  font-family: Arial, sans-serif;
  font-size: 40px;
}

.banner {
  height: 40px;
  background-color: #7ca982;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.banner-text {
  padding-left: 10px;
  color: white;
  font-size: 24px;
}

.signup {
  background-color: white;
  min-height: 58%;
  margin-left: 20%;
  width: 100%;
  margin-top: 10%;
  overflow-y: hidden;
  border-radius: 7px;
}

.volunteer-list {
  margin-left: 15px;
  font-size: 20px;
}

.description-wrapper {
  margin-top: 4%;
  padding-left: 150px;
  width: 50%;
  margin-right: 5%;
  background-color: #f1f7ed;
  border-radius: 7px;
  width: 100%;
}

.description-text {
  margin-left: 20px;
  margin-top: 15px;
  font-size: 20px;
}

.vol-wrapper {
  margin-top: 15px;
}

.name-input-wrap {
  margin-left: 55px;
  margin-bottom: 20px;
}

.name-input {
  outline: none;
  background-color: #e0eec6;
  border: none;
  border-radius: 7px;
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
}

.signup-cont {
  height: 75%;
  overflow: auto;
}

.button-go {
  background-color: #e0eec6;
  border: none;
  outline: none;
  color: grey;
  border-radius: 7px;

  height: 40px;
  width: 200px;
  font-size: 20px;
}

.button-go:focus {
  outline: none;
}

.button-go:hover {
  background-color: #d2e0b8;
}

.add-vol {
  display: flex;
  justify-content: center;
}

.profile {
  width: 33%;
  background-color: wheat;
}
.profile-pic {
  /* border-radius: 50%; */
  margin-top: 5%;
  width: 100%;
  clip-path: circle(39% at center);
}

.padding-between-cards {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  float: left;
  padding: 0px;
}
#root {
  height: 100vh;
}
.padding-between-cards:hover {
  box-shadow: 5px 5px 30px 11px rgba(0, 0, 0, 0.26);
}
#nothing-to-see {
  margin: 5px;
}

.flex-on-myevent {
  display: flex;
  flex-direction: column;
}

.event-type {
  background-color: #fff;
  min-height: 120px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile-box {
  background-color: #fff;
  min-height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-body {
  width: 340px;
  max-width: 100%;
}
.image-spacing {
  height: 215px;
  width: 350px;
  background-color: white;
}

.image-spacing img {
  max-height: 100%;
  max-width: 100%;
  width: 350px;
  height: 215px;
  display: block;
}
