body,
html {
  font-family: "Montserrat", sans-serif;
}

.info-padding {
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* .card {
  padding: 30px;
  max-width: 320px;
  width: 100%;
  display: block;
  margin: 0px;
  word-wrap: break-word;
} */

.card-body {
  background-color: #fff;
  max-width: 320px;
  width: 320px;
  word-wrap: break-word;
}

.number-events {
  font-size: 15px;
  font-weight: 600;
  color: grey;
}

.location-event {
  font-size: 15px;
  font-weight: 600;
  color: grey;
  float: right;
}
.upcoming-past {
  border-style: solid;
  width: 40%;
  text-align: center;
  float: right;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: black;
  text-decoration: none;
}
