.bigblue {
<<<<<<< HEAD
  background-color: red;
}

.color {
  background-color: "red";
}

.font {
  font-family: 'Montserrat', sans-serif;
}
=======
    color: red;
  }
  
.color {
    background-color: "red";
  }
>>>>>>> c983d0e06feb8591c93a422fbf7d474c6160db1d
